
<div class="container">
    <label>Olá <strong>{{name}}</strong>! Tudo Bem?</label>
    <h3>{{title}}</h3><br />
    <strong>{{description}}</strong>
    <br />
    <br />
    <div class="answers">
        <a class="values" href="">1</a>
        <a class="values" href="">2</a>
        <a class="values" href="">3</a>
        <a class="values" href="">4</a>
        <a class="values" href="">5</a>
        <a class="values" href="">6</a>
        <a class="values" href="">7</a>
        <a class="values" href="">8</a>
        <a class="values" href="">9</a>
        <a class="values" href="">10</a>
    </div>
    <strong>Sua opnião é muito importante para nossa evolução!</strong>
    <h3>Equipe | <strong> Rocket</strong></h3>
</div>